<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluild">
      <div class="row">
        <div class="col-md-3 my-3" *ngFor="let p of products">
          <div class="card h-100 d-flex">
            <img src="{{ p.imageUrl }}" alt="" class="card-img-top flex-1" />
            <div class="card-body h-auto">
              <h5 class="card-title">{{ p.name }}</h5>
              <p class="card-text">
                {{ p.unitPrice | currency : "USD" }}
              </p>
            </div>
            <div class="card-footer p-3">
              <a href="#" class="btn btn-primary text-decoration-none">
                Add to Cart
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
