<div class="container mt-5" style="height: 85vh">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 col-xxs-10">
      <div class="card">
        <div class="card-header px-4 pt-3">
          <h4 class="card-title">Sign In</h4>
        </div>
        <div class="card-body p-4">
          <form>
            <!--<div class="mb-3">-->
            <!--<label for="exampleInputEmail1" class="form-label"-->
            <!-->Username</label-->
            <!-->-->

            <!--<div class="input-group">-->
            <!--<span class="input-group-text" id="basic-addon1">@</span>-->
            <!--<input-->
            <!--type="text"-->
            <!--class="form-control"-->
            <!--id="exampleInputEmail1"-->
            <!--placeholder="john.doe"-->
            <!--aria-describedby="emailHelp"-->
            <!--/>-->
            <!--</div>-->
            <!--</div>-->
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >

              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="bi bi-envelope"></i>
                </span>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="john.doe@example.com"
                  aria-describedby="emailHelp"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >

              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="bi bi-key"></i>
                </span>
                <input
                  type="password"
                  class="form-control"
                  placeholder="**************"
                  id="exampleInputPassword1"
                />
              </div>
            </div>
            <div class="mb-3">
              <a [routerLink]="['/auth/register']"
                >Don't Have an Account? Register Here</a
              >
            </div>
            <button type="submit" class="btn btn-primary">
              Submit
              <i class="bi bi-check-lg"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <app-footer></app-footer>
</div>
